.burger {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.side-menu:checked ~ .burgerstack .burger1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second burger */
.side-menu:checked ~ .burgerstack .burger2 {
    opacity: 0;
}

/* Rotate last burger */
.side-menu:checked ~ .burgerstack .burger3 {
    transform: translate(0, -11px) rotate(45deg);
}

.navlist li {
    margin: 4px;
}

.navlist li:hover {
    color: rgb(152, 79, 194)
}

.side-menu:checked ~ .navbar {
    display: block;
    max-height: 100%;
}